
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.aboutMe {
    display: flex;
    margin-top: 600px;
    font-family: Poppins;
    font-weight: 300;
    position: relative;

    @include breakpoint('small') {
        display: block;
        margin-top: 200px;
    }

    @include breakpoint('medium') {
        display: block;
    }

    @include breakpoint('medium') {
        display: block;
    }


    &__container {
        position: relative;

    }

    &__sideText {
        margin-right: 50px;
        font-size: 80px;
        writing-mode: vertical-rl;
        color: transparent;
        text-orientation: use-glyph-orientation;
        transform: rotate(180deg);
        -webkit-text-stroke: 3px $primary-color;

        @include breakpoint('large') {
            display: none;
        }

    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 120px 100px;
        justify-content: center;
        @include blackGlass($padding-left-x: 0);

        @include breakpoint('large') {
            @include blackGlass($padding-left-x: 30px);
        }

        @include breakpoint('small-intermediate') {
            padding: 120px 20px;
        }
        
        @include breakpoint('small') {
            margin-top: 320px;
            padding: 120px 0px;
            margin-bottom: 200px;
        }


        h2 {
            margin-bottom: 30px;
            color: $white-text;
            font-size: 35px;
            font-weight: 500;
            padding: 0 20px;

        }
    
        p {
            text-align: left;
            color: $white-text;
            padding: 0 30px;
            line-height: 28px;
            font-family: Poppins;
            font-weight: 300;
            letter-spacing: 1.5px;
        }
        
        a {
            margin: 0 30px;
            font-weight: 600;
            margin-top: 45px;
            min-width: 280px;
            
            @include breakpoint('small-intermediate') {
                min-width: 180px;
            }


            @include breakpoint('small') {
                min-width: 230px;
            }

            @include breakpoint('xxsmall') {
                min-width: 175px;
            }
        }

    }


}