.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    &__left {
        display:flex;
        align-items: flex-start;
        row-gap: 25px;
        flex-direction: column;
        color: $white-text;
        margin-left: 20%;
        min-width: 300px;
        margin-top: 260px;


        @include breakpoint('xlarge') {
            margin-left: 0%;
        }

        @include breakpoint('xxsmall') {
            margin-left: 20px;
        }


        &__hello {
        font-family: Poppins;
        font-size: 40px;
        color: #D9D9D9;
        font-weight: 400;

        }

        &__presentation {
            font-size: 60px;
            color: #D9D9D9;
            font-weight: 600;

            &--color {
                color: #11ADFF;
            } 

            &__pronoun {
                font-size: 50px;
                font-weight: 400;
            }
        }

        &__description {
            font-size: 18px;
            color: #D9D9D9;
            font-weight: 500;    
        }

        &__link {
            margin-top: 30px;

            @include breakpoint('small') {
                display: flex;
                flex-direction: column;
                min-width: 280px;
                
            }
                @include breakpoint('xxsmall') {
                    min-width: 198px;


            }
    
        }


        &__link:first-child {
            border: 1px solid #11ADFF;
            border-radius: 1px;
            padding: 15px 20px;
            margin-right: 28px;
            font-weight: 600;
            color: #11ADFF;
            transition: 0.5s;


        
            @include breakpointMin('medium') {
                &:hover {
                    border: 1px solid $white-text;
                    color: $white-text;
                    font-size: 15px;
                    margin-top: 1px;
                    margin-bottom: 1px;
                    margin-left: 5.2px;
                    margin-right: 29.57px;
                    transition: 0.5s;
                }
    
            }
        

            

            

            @include breakpoint('small') {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }


}

    &__right {
        display: flex;
        align-items: flex-end;
        row-gap: 25px;
        flex-direction: column;
        color: $white-text;
        margin-left: 20%;
        margin-right: 60px;
        max-width: 300px;
        margin-top: 200px;

        @include breakpoint('xlarge') {
            margin-right: 0;
        }

        @include breakpoint('medium') {
            display: flex;
            margin-left: 20%;
            margin-right: 0;
        }

        
        @include breakpoint('small-intermediate') {
            display: flex;
            align-items: center;
            margin-left: 0%;
            margin-right: 0;
        }

    }

    
}
