.contact {
    margin-top: 250px;
    margin-bottom: 400px;
    @include blackGlass();

    @include breakpoint('large') {
        flex-direction: column;
    }

    @include breakpoint('small-intermediate') {
        padding-bottom: 20px;
    }

    @include breakpoint('small') {
        margin-bottom: 700px;
    }


    &__content {
        margin-left: 100px;
        text-align: left;

        @include breakpoint('large') {
            margin-left: 0;
            text-align: center;
        }

        @include breakpoint('small-intermediate') {
            margin-bottom: 0;
        }
        
    h2 {
        margin-top: 100px;
        font-size: 70px;
        color: $primary-color;
        font-weight: 400;
        letter-spacing: 1px;
    }

    p {
        margin-top: 20px;
        font-weight: 300;
        color: $white-text;
        letter-spacing: 1.8px;

        @include breakpoint('small') {
            margin-bottom: 100px;
        }

    }

    &__letter {
        position: relative;
        margin-top: 180px;
        margin-bottom: 150px;
        z-index: 2;
        background-color: rgb(39 52 64 / 48%);
        width: 350px;
        height: 350px;
        border-radius: 50%;

        @include breakpoint('large') {
            margin-left: auto;
            margin-right: auto;
        }

        @include breakpoint('small-intermediate') {
            display: none;
        }


        


        &__square {
            position: absolute;
            transform: rotate(160deg);
            border-radius: 15px;
            top: 110px;
            right: 0;
            left: 93px;
            bottom: 0;
            background-color: #11ADFF;
            width: 160px;
            height: 120px;

            
        }

        &__rodLeft {
            position: absolute;
            transform: rotate(207deg);
            border-radius: 15px;
            top: 70px;
            right: 0;
            left: 69px;
            bottom: 0;
            background-color: rgb(39, 52, 64);
            width: 80px;
            height: 13px;
        }

        &__rodRight {
            position: absolute;
            transform: rotate(150deg);
            border-radius: 15px;
            top: 70px;
            left: 8px;
            bottom: 0;
            background-color: rgb(39, 52, 64);
            width: 80px;
            height: 13px;
        
        }
    }

    &__form {

        margin: 100px;
        background-color: #232C34;

        @include breakpoint('small-intermediate') {
            margin: 10px;
            

        }


        &__inline {
            margin: 50px;
            text-align: left;
            display: flex;
            flex-wrap: wrap;
            gap: 70px 80px;

            @include breakpoint('xlarge') {
                gap: 70px 20px;
            }
        }



        label {
            flex: 1 1 150px;
            max-width: 250px;
            color: $white-text;
        }

        input {
            margin-top: 25px;
            max-width: 300px;
            border: none;
            background-color: transparent;
            font-size: 16px;
            line-height: 24px;
            color: $white-text;
            border-bottom: 1px #245372 solid; 
        }
        
        textarea {
            box-sizing: border-box;
            margin: 25px 50px 50px 50px;
            width: 75%;
            max-width: 552px;
            border: none;
            background-color: transparent;
            font-size: 16px;
            color: #DDDDDD;
            border-bottom: 1px #245372 solid;
        }

        ::placeholder {
            font-size: 14px;
            letter-spacing: 1px;
            color: #595959;
        }
        

        input:focus {
            outline: none;
            border-bottom: 1px $primary-color solid;
            transition: 0.2s ease-in-out;
        }

        textarea:focus {
            outline: none;
            border-bottom: 1px $primary-color solid;
            transition: 0.2s ease-in-out;
        }

        &__message {
            display: flex;
            flex-direction: column;
            text-align: left;
            flex-wrap: nowrap;

            @include breakpoint('small-intermediate') {
                padding-bottom: 40px;
            }

            label {
                margin-left: 50px;
            }
        }
    }
}
}
