.footer {
    z-index: 2;
    min-height: 300px;
    background-color: rgb(10 17 20 / 95%);
    -webkit-box-shadow: 0px -112px 200px 133px rgba(8, 15, 18,0.75);
    -moz-box-shadow: 0px -112px 200px 133px rgba(8, 15, 18,0.75);
    box-shadow: 0px -112px 200px 133px rgba(8, 15, 18,0.75);

    &__content {
        
        position: relative;
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #bfbfbf;

        @include breakpoint('large') {
            display: flex;
            margin-left: 50px;
            flex-direction: row;
            padding-top: 30px;
        }

        @include breakpoint('medium') {
            position: relative;
            flex-direction: column;
        }

        @include breakpoint('small-intermediate') {
            flex-direction: column;
            align-items: flex-start;
            margin-left: 10px;
        }

        @include breakpoint('small') {
            margin-left: 10px;
        }

        &__left {
            margin-left: 20px;
            position: absolute;
            bottom: -70px;

            @include breakpoint('large') {
                position: relative;
                margin-left: 10px;
                bottom: 0;

            @include breakpoint('medium') {
                position: relative;
                margin-bottom: 70px;
                text-align: left;
                margin-left: 10px;
                bottom: 0;
            }
            
            }
            

            &__logo {
            
                font-size: 40px;
                color: $primary-color;
                font-family: alex brush;
                font-weight: 400;
                margin-bottom: 30px;
            }
    
            &__followMe {
                font-size: 26px;
                font-weight: 300;
            }
    
            &__icon {
                margin-top: 20px;
                color: $white-text;
            }
    
        }


        &__menu {
            position: absolute;
            bottom: -94px;
            right: 0;
            display: flex;
            color: $white-text;
            text-align: left;
            margin-right: 20px;
            flex-direction: row;
            column-gap: 220px;
            

            a {
                transition: 0.5s;
                &:hover {
                    transition: 0.5s;
                    color: $primary-color;
                }
            }



            &__contact {
                @include breakpoint('medium') {
                    margin-top: 50px;
                }

                &__linkedin {
                    color: $white-text;
                }
            }

            @include breakpoint('large') {
                position: relative;
                margin-right: 20px;
                column-gap: 80px;
                bottom: 0;
                
            }

            @include breakpoint('medium') {
                flex-direction: column;
                margin-left: 10px;
            }

            @include breakpoint('small-intermediate') {
                flex-direction: column;
                margin-left: 10px;
            }


            h3 {
                font-weight: 400;
                letter-spacing: 1px;
                margin-bottom: 46px;

                a {
                    font-size: 25px;
                }

            }

            p {

                margin-bottom: 26px;
                font-weight: 400;
                font-size: 16px;
                letter-spacing: 1px;

                
            }

            a {
                
                color: $white-text;
                font-weight: 400;
                font-size: 16px;
                letter-spacing: 1px;
                text-decoration: none;


            }
        }
    }
}