.navBar {
    color: #D9D9D9;

    &__link {
        display: flex;
        flex-direction: row;
        
        color: #D9D9D9;
        justify-content: flex-end;

        div:last-child  {
            margin-right: 30px;

            @include breakpoint('large') {
                margin-right: 0;
                
            }
        }

        @include breakpoint('large') {
            margin-top: 0;
            
        }

        div a {
            
            @include breakpoint('large') {
                display: none;

            }
        }

        div {
            margin-top: 50px;
            @include breakpoint('large') {
                display: block;
                margin-top: 0px;
                
            }
        }
    } 

    &__link p {
        cursor: pointer;

    }

    &__link a {
        color: $white-text;
        padding: 15px 35px;
        margin: 20px 20px;

    }
    &__void {
        transition: 0.5s;
        
        &:hover {
            color: $primary-color;
            transition: 0.5s;

        }

    }
    
    &__link li    {
        transition: 0.5s;
        color: $white-text;
        padding: 50px 50px;
        font-size: 16px;

    }


    &__link li:last-child  {
        transition: 0.5s;
        padding: 50px 35px;
        color: $white-text;
        font-size: 16px;
    }


    &__burger {
        padding: 30px;
        font-size: 40px;
        color: $primary-color;

    }
}

.menu-btn {
    display: flex;
    padding: 35px;
    justify-content: flex-end;
    width: 30px;
    height: 30px;
    position: relative;
    z-index:2;
    overflow: hidden;
    cursor: pointer;
    }

.menu-btn .bar {
  width: 30px;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  background-color: $primary-color;
  transition: all 0.3s ease-in-out;
}

.menu-btn .bar:nth-of-type(2) {
	top: calc(50% - 9px);
}
.menu-btn .bar:nth-of-type(3) {
	top: calc(50% + 9px);
}

.menu-btn.active .bar:nth-of-type(1) {
  display: none;
}
.menu-btn.active .bar:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);  
}
.menu-btn.active .bar:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
}

.burgerMenu {
    display: none;
    @include breakpoint('medium') {
        display: block
        }
    }

.nav {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: $background-primary;
    transform: translateX(100%);
    transition: transform 0.5s; 
    color: wheat;

    &__link {
        color: $white-text;

    &__list {
        margin-top: 200px;
    }

    }
}

.nav.active {
    transform: translateX(0);
}

.nav {
    padding-top: 120px;

    .nav__list_item {
        font-size: 32px;
        margin: 25px 50px;
        padding: 25px 50px;
        list-style-type: none;
    } 

}


