.whatIDo {
    margin-top: 350px;
    @include blackGlass();
    display: flex;
    flex-direction: column;
    align-items: center;

    &__content {
        display: flex;
        flex-direction: row;
        gap: 100px;

        @include breakpoint('large') {
            flex-direction: column;
        }
    

        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            }
        }

        &__specializing {
            color: $white-text;
            margin-top: 60px;
            font-size: 40px;
            font-weight: 700;
            letter-spacing: 4px;
            margin-bottom: 75px;
        }

        h2 {
            letter-spacing: 2px;
            margin-top: 150px;
            font-weight: 500;
            font-size: 35px;
            color: $primary-color;
        }
    }

.placeholderCircle {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;

    &__title {
        color: $white-text;
        margin-top: 30px;
        font-size: 24px;
        font-weight: 400;
    }

    &__description {
        margin-top: 30px;
        font-weight: 200;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 16px;
        color: $white-text;
        max-width: 350px;
        letter-spacing: 0.5px;
        
    }


}
