@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.container {
  margin: 0 auto;
  max-width: 1440px;
}

.background {
  background-color: #0E283E;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: poppins;
  font: poppins;
  vertical-align: baseline;
  text-decoration: none;
  color: inherits;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  margin: 0;
  padding: 0;
  text-align: center;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  padding: 50px;
}

.navBar {
  color: #D9D9D9;
}
.navBar__link {
  display: flex;
  flex-direction: row;
  color: #D9D9D9;
}
.navBar__link li {
  padding: 50px 25px;
}
.navBar__link li:last-child {
  padding: 40px 20px;
}

.banner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.banner__left {
  display: flex;
  align-items: flex-start;
  row-gap: 25px;
  flex-direction: column;
  color: white;
  margin-left: 400px;
  min-width: 300px;
  margin-top: 200px;
}
.banner__left__hello {
  font-family: Poppins;
  font-size: 40px;
  color: #D9D9D9;
  font-weight: 400;
}
.banner__left__presentation {
  font-size: 60px;
  color: #D9D9D9;
  font-weight: 400;
}
.banner__left__presentation--color {
  color: #11ADFF;
}
.banner__left__presentation__pronoun {
  font-size: 50px;
}
.banner__left__description {
  font-size: 18px;
  color: #D9D9D9;
  font-weight: 500;
}
.banner__left__link {
  margin-top: 30px;
}
.banner__left__link:first-child {
  border: 1px solid #11ADFF;
  border-radius: 1px;
  padding: 15px 20px;
  margin-right: 30px;
  color: #11ADFF;
}
.banner__right {
  display: flex;
  align-items: flex-end;
  row-gap: 25px;
  flex-direction: column;
  color: white;
  margin-left: 400px;
  max-width: 300px;
  margin-top: 200px;
}

.aboutMe {
  display: flex;
  justify-content: center;
  margin-top: 400px;
  font-family: Poppins;
  font-weight: 300;
  position: relative;
  align-items: center;
}
.aboutMe__container {
  position: relative;
}
.aboutMe__sideText {
  margin-right: 50px;
  font-size: 80px;
  writing-mode: vertical-rl;
  color: transparent;
  text-orientation: use-glyph-orientation;
  transform: rotate(180deg);
  -webkit-text-stroke: 3px #11ADFF; /* Adaptez la valeur selon l'épaisseur souhaitée */
}
.aboutMe__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 100px;
  justify-content: center;
}
.aboutMe__content h2 {
  margin-bottom: 30px;
  color: white;
  font-size: 35px;
  font-weight: 500;
}
.aboutMe__content p {
  text-align: left;
  color: white;
  line-height: 28px;
  font-family: Poppins;
  font-weight: 300;
  letter-spacing: 1.5px;
}
.aboutMe__content a {
  font-weight: 600;
  margin-top: 45px;
}

.button__contact {
  background-color: #11ADFF;
  padding: 14px 30px;
  border-radius: 1px;
}
.button__hireMe {
  color: white;
  background-color: #11ADFF;
  padding: 15px 41.5px;
  border-radius: 1px;
}

.card {
  position: relative;
  width: 370px;
  height: 200px;
  margin: 30px;
  border-radius: 1px;
  background: rgba(255, 255, 255, 0.07);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 92%);
}
.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}
.card__content__round {
  width: 85px;
  height: 85px;
  background-color: lightblue;
  border-radius: 50%;
}
.card__content h2 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}
.placeholder {
  position: absolute;
  z-index: 0;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  top: 400px;
  left: 1400px;
  right: 0;
  bottom: 0;
  background-color: blue;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
}

.blackGlass {
  position: relative;
  min-width: 600px;
  margin: 40px 30px 30px 30px; /* Ici, on a augmenté la marge supérieure */
  border-radius: 1px;
  background: rgba(37, 42, 46, 0.65);
  overflow: hidden;
  display: flex;
  backdrop-filter: blur(10px);
  clip-path: inset(0 0 0 0);
}

.borderLeft {
  position: absolute;
  width: 6px;
  height: 600px;
  background: linear-gradient(300deg, rgba(194, 205, 212, 0) 0%, rgba(114, 153, 169, 0.79) 53%, rgb(0, 212, 255) 100%);
  left: 60px;
  top: 20px;
  right: 0;
  z-index: 1;
}

.borderContainer {
  position: relative;
  padding-top: 6px;
}

.borderTop {
  position: absolute;
  width: 600px;
  height: 6px;
  background: linear-gradient(300deg, rgba(194, 205, 212, 0) 0%, rgba(114, 153, 169, 0.79) 53%, rgb(0, 212, 255) 100%);
  top: 18px;
  left: 60px;
  z-index: 1;
}

.border-container {
  width: 150px;
  height: 150px;
  background-color: red; /* la couleur du carré d'arrière-plan */
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-container {
  border-style: dashed;
}

.border {
  display: inline-block;
  height: 200px;
  width: 200px;
  margin: 20px;
  border-radius: 50%;
  border: 5px dashed #0E283E;
  background: linear-gradient(#0E283E 0 0) padding-box, linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(17, 173, 240, 0.7931547619) 58%, rgb(0, 212, 255) 100%);
}
.border__alt {
  border: 2px dashed #fff;
}

.border03 {
  height: 4px;
  background-image: linear-gradient(90deg, transparent, transparent 50%, #0E283E 0%, #0E283E 100%), linear-gradient(90deg, #69d2e7, #a7dbd8, #e0e4cc, #f38630, #fa6900);
  background-size: 20px 3px, 100% 3px;
  border: none;
}

/*# sourceMappingURL=style.css.map */
