$background-primary: #0E283E;
$primary-color: #11ADFF;
$white-text: #DDDDDD;
$btn-full: #00152E;
$blackGlassBackground: rgba(42, 42, 46, 0.65);

$bw: 5px;
$buttonFull__contact__padding: 10px 30px;

$breakpoints: (
  'xxsmall': 320px,
  'xsmall': 375px,
  'small': 425px,
  'small-intermediate': 600px,
  'medium': 768px,
  'large': 968px,
  'xlarge': 1280px,
  'xxlarge': 2560px
);