.borderLeft {
    position: absolute;
    width: 6px;
    height: 600px;
    background: linear-gradient(300deg, rgba(194, 205, 212, 0) 0%, rgb(114 153 169 / 79%) 53%, rgb(0, 212, 255) 100%);
    left: 60px;
    top: 20px;
    right: 0;
    z-index: 1;

}

.borderContainer {
  position: relative;
  padding-top: 6px; // Pour créer de l'espace pour le .borderTop
}

.borderTop {
  position: absolute;
  width: 600px;
  height: 6px;
  background: linear-gradient(300deg, rgba(194, 205, 212, 0) 0%, rgb(114 153 169 / 79%) 53%, rgb(0, 212, 255) 100%);
  top: 18px;
  left: 60px;
  z-index: 1;
}

.border-container {
    width: 150px;
    height: 150px;
    background-color: red; /* la couleur du carré d'arrière-plan */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .inner-container {
    border-style: dashed;
  }
  
  .border {
    display:inline-block;
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius:50%;
    border: 5px dashed $background-primary;
    background:
     linear-gradient($background-primary 0 0) padding-box,
     linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(17,173,240,0.7931547619047619) 58%, rgba(0,212,255,1) 100%);

     &__alt {
        border: 2px dashed #fff;
     }
  }
  .border03 {
    height: 4px;
    background-image: linear-gradient(90deg, transparent, transparent 50%, $background-primary 0%, $background-primary 100%), linear-gradient(90deg, #69d2e7, #a7dbd8, #e0e4cc, #f38630, #fa6900);
    background-size: 20px 3px, 100% 3px;
    border: none;
  }