.button {

  &__contact {
    @include buttonFull(14px, 30px)
  }

  &__hireMe {
    color: white;
    @include buttonFull(15px, 41.5px)
    
  }

  &__visitWebsite {
    margin-left: 120px;
    color: white;
    max-width: 120px;
    margin-bottom: 90px;
    @include buttonFull(18px, 30px)
  }

  &__send {
    border: none;
    margin: 20px 50px 0 50px;
    color: $white-text;
    letter-spacing: 1px;
    font-size: 21px;
    font-weight: 600;
    @include buttonFull(18px, 30px)

  }
}