.button {


  &__cv {
    color: $white-text;
    transition: 0.5s;
    @include buttonFull(16px, 43px);

    &:hover {
      transition: 0.5s;
      font-size: 14px;
      margin-top: 46px;
      margin-bottom: 1px;
           
    }

    @include breakpoint('small') {
      min-width: 280px;

  }

  @include breakpoint('xxsmall') {
    min-width: 198px;
}
  }

  &__contact {
    @include buttonFull(14px, 30px)
  }

  &__hireMe {
    color: $white-text;
    transition: 0.5s;
    @include buttonFull(16px, 43px);

    &:hover {
      transition: 0.5s;
      font-size: 14px;
      margin: 4px 3.9px;
           
    }

    @include breakpoint('small') {
      min-width: 280px;

  }

  @include breakpoint('xxsmall') {
    min-width: 198px;
}
  
  }

  &__visitWebsite {
    position: relative;
    display: block;
    cursor: pointer;
    margin-left: 120px;
    color: white;
    max-width: 120px;
    margin-bottom: 90px;
    transition: 0.5s;
    @include buttonFull(18px, 30px);

    @include breakpointMin('xxsmall') {
      &:hover {
        font-size: 14px;
        margin-bottom: 92px;
        transition: 0.5s;
      }
    }

    @include breakpoint('large') {
      &:hover {
        font-size: 14px;
        margin-bottom: 32px;
        transition: 0.5s;
      }
    }

    @include breakpoint('large') {
      margin: 0 50px 30px 50px;

  }

  @include breakpoint('small') {
    margin: 0 20px 50px 20px;

}
  }

  &__send {
    cursor: pointer;
    border: none;
    margin: 20px 50px 0 50px;
    color: $white-text;
    letter-spacing: 1px;
    font-size: 21px;
    font-weight: 600;
    @include buttonFull(18px, 30px);
    transition: 0.5s;


    &:hover {
      font-size: 19px;
      transition: 0.5s;
      margin: 21px 51px 1px 51px;

    }

  }
}