.button {

  &__contact {
    @include buttonFull(14px, 30px)
  }

  &__hireMe {
    color: white;
    @include buttonFull(15px, 41.5px);

    @include breakpoint('small') {
      min-width: 280px;

  }

  @include breakpoint('xxsmall') {
    min-width: 198px;

}
    
  }

  &__visitWebsite {
    margin-left: 120px;
    color: white;
    max-width: 120px;
    margin-bottom: 90px;
    @include buttonFull(18px, 30px);

    @include breakpoint('large') {
      margin: 0 50px 30px 50px;

  }

  @include breakpoint('small') {
    margin: 0 20px 50px 20px;

}
  }

  &__send {
    border: none;
    margin: 20px 50px 0 50px;
    color: $white-text;
    letter-spacing: 1px;
    font-size: 21px;
    font-weight: 600;
    @include buttonFull(18px, 30px)

  }
}